:root{background-color:#e2aae4}.container{background-color:#cd449c;height:270px;width:270px;border:#32232a 4px solid;float:left;border-radius:8px}main{position:absolute;top:20%;left:37%;height:50%;width:40px}button{width:263px;height:35px;border-radius:10px;border-color:#642c4f;transition:.9s}p{text-indent:5ch;font-variant:small-caps;font-weight:700;font-size:21px;color:#0e0305}


